*{
    box-sizing: border-box;
}
.logo-wrapper{
    width: 980px;
    height: 150px;
    text-align: center;
    background-color: #272f54;
}
img{
    margin-top: 5px;
}
body{
    width: 980px;
    margin: auto;
    font-family: tahoma;
}
.menu>ul>li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}
.menu>ul>li>a{
    text-decoration: none;
    font-size: 10pt;
    color: #fefbfb;
}
.menu>ul>li>a:hover{
    color: gold;
}
.menu>ul{
    height: 30px;
    margin: 0px;
    padding-left: 10px;
}
.menu{
    background-color: #cb7802;;
}

            
footer{
    text-align: center;
    color: #ffffff;
    background-color: blue;
    line-height: 80px;
}
.end{
    margin: 10px;
}
input{
    width: 250px;
    height: 20px;
    padding: 0px;
}
form{
    padding: 0px;
    margin-left: 50px;
    height: 20px;
}
button{
    width: 100px;
    height: 20px;
    margin-left: 10px;
    padding: 0px;
    background-color: #272f54;
    color: white;
}

.product-item{
    height: 360px;
    border: 1px grey solid;
    padding: 13px 25px;
}

p{
    margin: 0px;
    font-size: 10pt;
}





#chuchay{
    height: 30px;
    font-size: 13px;
    color: purple;
    line-height: 30px;
    background-color:  #f5f7f6;
    font-weight: bold;;
}




}
.main{
    border: 10px solid #000;
}
table{
    border: 1px solid #000; 
    
}

h2{
    text-align: center;
}
.cotKDan{
    display: grid;
    grid-template-columns: 1fr;
}
.cotDan{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
table{
    margin: 4px;
}
.main{
    border: 1px solid #000;
}
.for{
    padding: 0px 880px 200px 0px;
}
.one{
    padding: 0px 850px 20px 0px;
}
.two{
    padding: 0px 850px 20px 0px;
}
.three{
    padding: 0px 850px 20px 0px;
}